
<body> <div class="container">
    <header class="header">
        <img src="./assets/niner2.jpeg" alt="Profile Picture" class ="profile-pic"> 

        <h1>Hi there!</h1>
    </header>
    <section class="profile">
        <div class="bio">
            
            <p>Welcome to my unofficial portfolio for all my art related things. Although drawing is primarily a hobby for me, I did pursue (and obtain) a degree in graphic design. Other hobbies of mine include journaling, baking, reading, video games, and straight up hanging out with good company.<br><br></p>
            <p>I've been drawing all my life, but really started to get into it when I was around 11. My first drawing tablet was gifted to me about a year or so later, which was the start of a huge passion of mine. I mostly drew artwork based on shows that I enjoyed, and shared it with friends as well as online art platforms. A lot of the works I've created were done throughout my teen years, while my college years I focused a lot more on academic art rather than personal work.<br><br></p>
            <p>As of now I currently don't do any work in the creative field, but I find that I'm able to keep the joy of creation alive and well through frequent journaling and engaging in media. My goal has always been to savor and share the simple joys of life, whether it's a few kind words, a surprise portrait, or freshly baked goods.<br><br></p>
            <p>So for now, I'll keep sharing my hobbies with those around me who enjoy them seemingly as much as I do!</p>
        </div>
    </section>
    <section class="details">
        <h2>Contacts</h2>
        <ul>
            <li><a target="_blank" href="https://www.instagram.com/kasukama">Instagram</a></li>
            <li><a target="_blank" href="https://x.com/neenssays">Twitter</a></li>
            <li><a target="_blank" href="https://youtube.com">Youtube</a></li>
            <li><a target="_blank" href="https://kasukama.carrd.co/">Commission Card</a></li>
        </ul>
    </section>
    <footer class="footer">
        <p>&copy; 2024 kasukama. All rights reserved.</p>
    </footer>
</div>
</body>