<body>
    
<h1>Ponies</h1>
<div class="group">
    <img src="./assets/ponies/montee.png" class="photo">
    <img src="./assets/ponies/cupidlights.PNG" class="photo">
    <img src="./assets/ponies/blueberry.PNG" class="photo">
    <img src="./assets/ponies/amaiadolce_07012023.png" class="photo">
</div>

<h1>Humanoid</h1>
<div class="group">
    <img src="./assets/characters/juarttrade_nosig_satfuzz.png" class="photo">
    <img src="./assets/characters/2022gift_transpnosig.png" class="photo">
    <img src="./assets/characters/chilicookie_croptransp_nosig2.png" class="photo">
    <img src="./assets/characters/oct23crop.png" class="photo">
    <img src="./assets/characters/majapresfinal_shrub.png" class="photo">
    <img src="./assets/characters/cahyo_flat.png" class="photo">
</div>
<h1>Portraits</h1>
<div class="group2">
    <img src="./assets/portraits/paintedme.PNG" class="photo2">
    <img src="./assets/portraits/lorraine1.png" class="photo2">
</div>
</body>
